.learn__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.fabrics__hero{
    height: 70vh;
    width: 100%;
    overflow: hidden;
}

.learn__copy{
    width: 80%;
}
.learn__copy > h2{
    color:grey;
}