.box{
    height: 200px;
    width: 200px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.box__pic{
    height: 200px;
    width: 200px;
    object-fit: contain;
    overflow: hidden;
}

.box >p{
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: large;
    text-shadow: 2.5px 1.5px #000000;
}

.box__sub{
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: large;
    text-shadow: 2.5px 1.5px #000000;
    padding-top: 50px;

}