.box{
    height: 200px;
    width: 200px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
}

.box__pic{
    height: 200px;
    width: 200px;
    object-fit: contain;
    overflow: hidden;
    z-index: -1;
}

.box__sub{
    position: absolute;
    display: flex;
    flex-direction: column;
    line-height: 0px;
    align-items: center;
    color: white;
    font-weight: 500;
    font-size: large;
    /* text-shadow: 2.5px 1.5px #000000; */
}