.press__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.player{
    display: flex;
    flex-direction: column;
    background-color: slategrey;
    padding: 20px;
    border-radius: 15px;
    color: wheat;
    align-items: center;
}

.cover__pic{
    height: 35vh;
    width: auto;
}

.player__controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details__artist{
    margin-top: -10px;
}

.play__btn{
    display: flex;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}