.shopping_header{
    display: flex;
    align-items: center;
    font-size: 22px;
    padding-left: 50px;
    margin-top: 30px;
    width: 100%;
    background-color: #eeeeee;
    height: 40px;
}

.back_button{
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    outline: none;
}